
@font-face {
    font-family: 'BYekan';
    src: url('./Font/Yekan.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'BYekan', sans-serif;
}

.image-bg-login{
    background-image: url('./Image/bg-none.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 50;
  
}