
@font-face {
    font-family: 'BYekan';
    src: url('./Font/Yekan.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'BYekan', sans-serif;
}

.image-bg-login{
    background-image: url('./Image/bg-none.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 50;
  
}
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slide-in-right 0.5s ease-out forwards;
}
